altgraph==0.17
auto-py-to-exe==2.7.11
bottle==0.12.19
bottle-websocket==0.2.9
cffi==1.14.4
Eel==0.12.4
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
pefile==2019.4.18
pycparser==2.20
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyparsing==2.4.7
pywin32-ctypes==0.2.0
selenium==3.141.0
urllib3==1.26.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
